<html>
	<head>
		<title>Dalia's  Django Girls blog</title>
	</head>	
	<body>
		<div>
			<h1><a href="">Dalia's Django Girls Blog</a></h1>
		</div>
			<p>Published: 11.07.2015, 14:29</p>
			<h2><a href="">Real food while camping</a></h2>
			<p>If “camping” is on your Labor Day agenda and you’d like to do it without straying too far from real food then you are in luck. Car camping is a lot of work (blow up beds, fluffy mattress covers and all!), but at the same time it’s SO much fun. We go once or twice a year ourselves and I just love spending time outside with family and friends and best of all being truly unplugged. It’s also hard to beat the excitement of the kids when taking them on such an adventure! We just went camping with two other families a couple of weekends ago (we scored a great campsite right on the lake) and before we left I made a list and took photos of all the food we brought, which is detailed below.</p>
		</div>

		<div>
			<p>Published: 11.07.2015, 14:33</p>
			<h2><a href="">100 day pledge</a></h2>
			<p>Welcome to the original “100 Days of Real Food” pledge page. The idea behind this series of posts is what inspired me to start this blog in the first place. From May through September 2010 our family of four – including our daughters who were ages 3 and 5 at the time – pledged to go 100 solid days without eating a single ounce of highly processed or refined food (that means no white flour or sugar!). You can find the exact guidelines we followed on our “real food” rules page.<p>
		</div>
	</body>
</html>
